@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Include padding and border in the element's width and height */
}




@font-face {
  font-family: HermesFB-BoldItalic;
  src: url(./Assets/fonts/hermesfb-bolditalic.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-bolditalic.otf) format('opentype'), url(./Assets/fonts/hermesfb-bolditalic.woff) format('woff'), url(./Assets/fonts/hermesfb-bolditalic.ttf) format('truetype'), url(./Assets/fonts/hermesfb-bolditalic.svg#HermesFB-BoldItalic) format('svg');
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: HermesFB-Bold;
  src: url(./Assets/fonts/hermesfb-bold.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-bold.otf) format('opentype'), url(./Assets/fonts/hermesfb-bold.woff) format('woff'), url(./Assets/fonts/hermesfb-bold.ttf) format('truetype'), url(./Assets/fonts/hermesfb-bold.svg#HermesFB-Bold) format('svg');
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: HermesFB-ThinItalic;
  src: url(./Assets/fonts/hermesfb-thinitalic.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-thinitalic.otf) format('opentype'), url(./Assets/fonts/hermesfb-thinitalic.woff) format('woff'), url(./Assets/fonts/hermesfb-thinitalic.ttf) format('truetype'), url(./Assets/fonts/hermesfb-thinitalic.svg#HermesFB-ThinItalic) format('svg');
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: HermesFB-Thin;
  src: url(./Assets/fonts/hermesfb-thin.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-thin.otf) format('opentype'), url(./Assets/fonts/hermesfb-thin.woff) format('woff'), url(./Assets/fonts/hermesfb-thin.ttf) format('truetype'), url(./Assets/fonts/hermesfb-thin.svg#HermesFB-Thin) format('svg');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: HermesFB-RegularItalic;
  src: url(./Assets/fonts/hermesfb-regularitalic.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-regularitalic.otf) format('opentype'), url(./Assets/fonts/hermesfb-regularitalic.woff) format('woff'), url(./Assets/fonts/hermesfb-regularitalic.ttf) format('truetype'), url(./Assets/fonts/hermesfb-regularitalic.svg#HermesFB-RegularItalic) format('svg');
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: HermesFB-Regular;
  src: url(./Assets/fonts/hermesfb-regular.eot?#iefix) format('embedded-opentype'), url(./Assets/fonts/hermesfb-regular.otf) format('opentype'), url(./Assets/fonts/hermesfb-regular.woff) format('woff'), url(./Assets/fonts/hermesfb-regular.ttf) format('truetype'), url(./Assets/fonts/hermesfb-regular.svg#HermesFB-Regular) format('svg');
  font-weight: 400;
  font-style: normal
}

@layer base {
  body {
    @apply text-black
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
}
body {
  font-family: 'Poppins', sans-serif !important;
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
    @apply font-hermes;
  }

  .skew-btn {
    @apply before:-skew-x-[20deg] before:transform
  }

  .skew-image {
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);

  }

  .stripe-wrapper {
    @apply relative;

    &::before {
      @apply absolute content-[''] inset-0 w-[50px] left-full right-auto;
      clip-path: polygon(0 0, 0% 100%, 27% 0);

    }

    &::after {
      @apply absolute content-[''] inset-0 left-auto right-0 w-[170%];
    }
  }

  .stripe-wrapper-opp {
    @apply relative;

    &::before {
      @apply absolute content-[''] inset-0 w-[50px] right-full left-auto;
      clip-path: polygon(100% 0, 100% 100%, 73% 0);
    }

    &::after {
      @apply absolute content-[''] inset-0 left-0 right-auto w-[170%];
    }
  }

  .stripe {
    @apply relative;

    &::before,
    &::after {
      @apply absolute content-[''] bg-white transform -skew-x-12 w-[20px] h-full top-0 bottom-0 z-[1];
    }

    &::before {
      @apply right-5;
    }

    &::after {
      @apply right-[50px];
    }
  }

  .error {
    @apply border-red-500;
  }

  .stripe-opp {
    @apply relative;

    &::before,
    &::after {
      @apply absolute content-[''] bg-white transform skew-x-12 w-[20px] h-full top-0 bottom-0;
    }

    &::before {
      @apply left-5;
    }

    &::after {
      @apply left-[50px];
    }
  }

  .btn-full {
    @apply relative z-0 font-medium before:absolute before:inset-0 before:z-[-1] before:content-[''] text-white transition-all ease-linear duration-300 before:pointer-events-none;
  }

  .btn-transparent {
    @apply relative z-0 font-medium before:absolute before:inset-0 before:z-[-1] before:content-[''] before:border before:border-solid transition-all ease-linear duration-300 before:pointer-events-none;
  }

  .section-break {
    @apply py-16
  }

  .heading {
    @apply text-black font-medium text-2xl uppercase
  }

  .navbar-bottom .navbar-group .active {
    @apply text-white relative z-0;
  }

  .navbar-bottom .navbar-group .active::before {
    @apply bg-primary text-white absolute content-[''] inset-0 -z-[1] transform -skew-x-[20deg];
  }

  .navbar-bottom .navbar-group .dropdown-menu .active {
    @apply text-white;
  }

  .navbar-bottom .navbar-group .dropdown-menu .active::before {
    @apply -skew-x-[0deg] bg-transparent !text-black;
  }

  .hero-slider .slick-dots {
    @apply top-[34rem] bottom-auto;

    li {
      @apply !w-[60px] !h-2 mx-3;


    }

    button {
      width: 100%;
      height: 100%;

      &::before {
        @apply bg-white opacity-100 transform -skew-x-[30deg] shadow-md;
        @apply content-[''] !important;
        height: 100%;
        width: 100%;
      }
    }

    .slick-active {
      button::before {
        @apply bg-primary opacity-100;
      }
    }
  }



  .products-tab .react-tabs__tab--selected {
    @apply text-primary underline
  }

  .custom-slider {
    .slick-dots {
      bottom: -30px;

      li {
        @apply w-[12px] h-[12px] mx-1.5 transition-[width] duration-1000 ease-in-out;




      }

      button {
        width: 100%;
        height: 100%;

        &::before {
          @apply bg-gray-400 bg-opacity-30;
          opacity: 100% !important;
          width: 100%;
          height: 100%;
          border-radius: 50px;
          content: '';
        }
      }

      .slick-active {
        width: 40px;

        button::before {
          @apply bg-primary;
          opacity: 100% !important;
        }
      }
    }
  }

  .product-slider {
    .slick-slide {
      padding: 0 12px;
    }

    .slick-list {
      margin: 0 -12px;
    }


  }

  .product-slider .slick-dots {
    bottom: -30px;

    li {
      @apply w-[12px] h-[12px] mx-1.5 transition-[width] duration-1000 ease-in-out;




    }

    button {
      width: 100%;
      height: 100%;

      &::before {
        @apply bg-gray-400 bg-opacity-30;
        opacity: 100% !important;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        content: '';
      }
    }

    .slick-active {
      width: 40px;

      button::before {
        @apply bg-primary;
        opacity: 100% !important;
      }
    }
  }

  .news-slider .slick-dots {
    bottom: 48%;
    left: -30%;
    right: auto;

    li {
      @apply w-[12px] h-[12px] mx-1.5 transition-[width] duration-1000 ease-in-out;
    }

    button {
      width: 100%;
      height: 100%;

      &::before {
        @apply bg-white;
        opacity: 1;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        content: '';
      }
    }

    .slick-active {
      width: 40px;

      button::before {
        @apply bg-primary;
      }
    }
  }

  .news-section .event-group {
    height: 100%;

    &::before {
      height: 100%;
      right: calc(99% + 4px);
      left: auto;
      z-index: 1;
      width: 100%;
    }
  }

  .testimonals-section .slick-list,
  .gallery-slider .slick-list {
    overflow: visible;
    overflow-x: clip;
  }

  .gallery-slider {
    .slick-arrow {
      @apply text-primary w-[40px] h-[40px] p-1 hover:bg-primary hover:text-white transition-all duration-300 ease-linear [box-shadow:0px_4px_4px_0px_#00000040] bg-white z-[1] rounded-full right-[21px];

      &::before {
        @apply hidden
      }
    }

    .slick-prev {
      @apply left-[30px];
    }

    .slick-next {
      @apply right-[30px]
    }

    .slick-disabled {
      @apply opacity-0 pointer-events-none
    }
  }

  .clip-pol {
    &::before {
      clip-path: polygon(99% 0, 100% 0, 100% 100%, 89% 100%);
    }
  }

  .accordion {
    .accordion-panel {
      font-weight: 500;

    }

    .accordion-title {
      &.active {}
    }

    .accordion-content {}

  }

  .testimonals-section {
    .slick-arrow {
      @apply text-primary w-[30px] h-[30px] hover:text-primary;

      &::before {
        @apply hidden
      }
    }

    .slick-prev {
      @apply left-[-60px];
    }

    .slick-disabled {
      @apply opacity-0 pointer-events-none
    }
  }

  .news-section {
    .slick-arrow {
      @apply text-primary w-[40px] h-[40px] p-1 hover:bg-primary hover:text-white transition-all duration-300 ease-linear [box-shadow:0px_4px_4px_0px_#00000040] bg-white z-[1] rounded-full right-[21px];
    }

    .slick-prev {
      @apply !hidden;
    }
  }

  .vehicles-page {
    .product-tab-slider {
      .slick-slide {
        padding: 0 12px;
      }

      .slick-list {
        margin: 0 -5px;
      }

      .slick-arrow {
        @apply text-primary w-[30px] h-[30px] hover:text-primary;

        &::before {
          @apply hidden
        }
      }

      .slick-prev {
        @apply left-[-30px];
      }

      .slick-next {
        @apply right-[-30px]
      }

      .slick-disabled {
        @apply opacity-0 pointer-events-none
      }
    }


  }

  .product-slider-img .slick-dots {
    bottom: 10%;

    li {
      @apply w-[10px] h-[10px] mx-1.5 transition-[width] duration-1000 ease-in-out;
    }

    button {
      width: 100%;
      height: 100%;

      &::before {
        @apply bg-white;
        opacity: 1;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        content: '';
      }
    }

    .slick-active {
      width: 30px;

      button::before {
        @apply bg-primary;
      }
    }

  }

  .big-slide-wrapper .slick-dots {
    bottom: 6%;

    li {
      @apply w-[10px] h-[10px] mx-1.5 transition-[width] duration-1000 ease-in-out;
    }

    button {
      width: 100%;
      height: 100%;

      &::before {
        @apply bg-white;
        opacity: 1;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        content: '';
      }
    }

    .slick-active {
      width: 30px;

      button::before {
        @apply bg-primary;
      }
    }

  }

  .about-page {
    .history-slider {
      .slick-arrow {
        @apply text-secondary w-[30px] h-[30px] hover:text-secondary top-full;

        &::before {
          @apply hidden
        }
      }

      .slick-prev {
        @apply left-0;
      }

      .slick-next {
        @apply right-0
      }

      .slick-disabled {
        @apply opacity-0 pointer-events-none
      }
    }
  }

  .career-gallery .gallery-slider {
    .slick-slide {
      padding: 0 12px;
    }

    .slick-list {
      margin: 0 -12px;
    }

    .slick-arrow {
      @apply text-primary w-[40px] h-[40px] p-1 hover:bg-primary hover:text-white transition-all duration-300 ease-linear [box-shadow:0px_4px_4px_0px_#00000040] bg-white z-[1] rounded-full;
    }

    .slick-disabled {
      @apply !hidden;
    }

    .slick-next {
      @apply right-[-20px];
    }

    .slick-prev {
      @apply left-[-20px];
    }

    a {
      height: 500px;
    }
  }

  .pswp--custom {
    .pswp__img {
      object-fit: contain !important;
      object-position: center;
    }

  }

  .photo-group {
    position: relative;

    .form-control {
      opacity: 0;
      width: 176px;
      height: 41px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;

      &:hover {
        cursor: pointer;

        ~.btn-group .photo-btn {
          opacity: 0.9;
        }
      }
    }

    .photo-btn {
      background: #484848;
      padding: 10px 20px;
      font-size: 14px;
      display: inline-flex;
      gap: 20px;
      font-weight: 500;
      cursor: pointer;
      pointer-events: none;
    }

    #imageName {
      font-size: 14px;
      margin-left: 10px;
    }

  }


  .branch-tabs {
    .tab {
      display: flex;
      justify-content: space-between;

      svg {
        transition: 0.3s all ease
      }
    }

    .react-tabs__tab--selected {
      @apply text-primary;
    }

    .react-tabs__tab--selected svg {
      @apply -rotate-90
    }

    .tabs-content {
      ul li {
        position: relative;
        padding-left: 90px;
        hyphens: auto;
        word-wrap: break-word;

        span {
          position: absolute;
          left: 0;
        }
      }
    }
  }

  .map-section .dealer-group {
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-primary;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-primary bg-opacity-80;
    }
  }

  .details-page {
    .small-slider-wrapper {
      .slick-slide {
        padding: 0 12px;
      }

      .slick-list {
        margin: 0 -12px;
      }

      .slick-arrow {
        @apply inset-y-0 text-white w-[40px] h-[calc(100%-7px)] translate-y-0 p-1 hover:bg-opacity-80 transition-all duration-300 ease-linear bg-black bg-opacity-50 z-[1];

        &::before {
          @apply hidden
        }
      }

      .slick-prev {
        @apply left-0;
      }

      .slick-next {
        @apply right-0
      }

      .slick-disabled {
        @apply opacity-0 pointer-events-none
      }
    }
  }

  .detail-tabs {
    .react-tabs__tab--selected {
      @apply bg-primary text-white;
    }
  }

  .detail-review .review-group {
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      /* box-shadow: inset 0 0 2px grey; */
      /* border-radius: 10px; */
      background: #D9D9D9;

    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-black;
      /* border-radius: 10px; */
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-primary bg-opacity-80;
    }
  }

  .compare-table {
    td {
      @apply px-6 py-4 w-1/3;
    }
  }

  .vehicle-data-ul {
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #dddddd;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #19528a;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #19528a;
      opacity: 0.8;
    }
  }


  .menu-show {
    display: block;
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 20;
    /* overflow: hidden; */
    @apply bg-gray-100;

    .navbar-group {
      overflow: hidden;
    }

  }

  .ourvalue-section {
    .ourvalue-box {
      h5 {
        word-break: break-word;
        hyphens: auto;
      }
    }
  }

  .history-slider {
    .slick-track {
      position: relative;

      &::before {
        @apply bg-grey;
        content: '';
        opacity: 0.3;
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        width: 100%;
        top: 11px;
        z-index: -1;
      }
    }
  }

  @media only screen and (max-width: 1800px) {
    .career-gallery .gallery-slider a {
      height: 400px;
    }

    .side-padding {
      padding-left: 20px;
      padding-right: 20px;
    }

    .testimonals-section {
      .slick-prev {
        left: -25px;
      }

      .slick-arrow {
        right: -25px;
      }
    }


  }

  @media only screen and (max-width: 1279px) {

    .career-gallery .gallery-slider a {
      height: 300px;
    }

    .news-section {
      .event-skew-group {
        .event-box {
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding: 0 !important;
        }
      }
    }

    .news-slider .slick-dots {
      left: 0;
      right: 0;
      text-align: left;
      padding-left: 15px;
    }

    .vehicles-page {
      & .product-tab-slider {
        .slick-next {
          right: -25px;
        }

        .slick-prev {
          left: -25px;
        }

        .slick-arrow {
          top: 18px;
        }
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    .navbar-bottom .navbar-group .active {
      @apply bg-primary duration-0;
    }

    .mission-section {
      .mission-list {
        li {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }

    .vehicles-page {
      & .product-tab-slider {
        .slick-next {
          right: -17px;
        }

        .slick-prev {
          left: -17px;
        }
      }
    }

    .detail-tabs .react-tabs__tab--selected {
      @apply text-primary underline bg-transparent;
    }

    .height-fixed {
      height: 100dvh;
      overflow: hidden;
      position: relative;

      .overflow-background {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        content: '';
        z-index: 9;
      }
    }

    .hero-slider .slick-dots {
      top: 22rem;
    }

    .navbar-bottom .navbar-group .dropdown-menu {
      background: #e8e8e8;
      color: #1c1c1c;

    }

    .navbar-bottom .navbar-group .dropdown-menu .active {
      color: #1c1c1c;
    }

    .navbar-bottom .navbar-group .dropdown-menu .active::before {
      background: #e8e8e8;
    }
  }

  @media only screen and (max-width: 767px) {


    .hero-slider .slick-dots {
      li {
        width: 30px !important;
        height: 0.3rem !important;
        margin: 0 6px;
      }

      button {
        padding: 0;
      }
    }

    .details-page {
      .small-slider-wrapper {
        .slick-slide {
          padding: 0 6px;
        }

        .slick-list {
          margin: 0 -6px;
        }

      }
    }


  }
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;

}

a {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

figure {
  overflow: hidden;
  margin-bottom: 0;

  img {
    height: 100%;
    width: 100%;
  }
}

.react-tabs__tab--selected {
  &:focus-visible {
    outline: none !important;
  }
}

.news-section .event-group {
  height: 100%;
}

.news-slider {
  height: 100%;

  .slick-track,
  .slick-list,
  .slick-slide {
    height: 100%;
  }

  .slick-slide div {
    height: 100%;
  }

  .news-box {
    figure {
      height: 100%;
    }
  }

}

.slick-dots li button {
  filter: drop-shadow(0px 0px 4px rgb(0 0 0 / 10%));
}

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader .truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}

/* truck upper body */
.loader .truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}

/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* truck's tires */
.loader .truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}

.loader .truckTires svg {
  width: 24px;
}

.loader .road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}

.loader .road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}

.loader .road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.loader .lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-350px);
  }
}

.leaflet-pane {
  z-index: 9 !important;
}